<% provide(:title, t(".title")) %>
<h1><%= t ".caption" %></h1>
<p>
  <%= t ".get" %>
  <%= link_to t(".rails"), Settings.link_tutorial_help %>
  <%= t ".to" %>
  <em><%= link_to t(".ruby"), Settings.link_tutorial_book %></em>
</p>
