<footer class="footer">
  <small>
    <%= link_to t("footer.ruby"), Settings.link_tutorial_home %>
    <%= t "footer.by" %>
    <%= link_to t("footer.author"), Settings.link_michael %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("footer.link1"), about_path %></li>
      <li><%= link_to t("footer.link2"), contact_path %></li>
      <li><%= link_to t("footer.link3"), Settings.link_tutorial_news %></li>
    </ul>
  </nav>
</footer>
